// @import "scss";
@import "font.css";
//fonts
@import "navbar.scss";
//navbar
@import "home-banner.scss";
// home-section //

body {
    background: linear-gradient(313deg, #6a3b8b, #664ab9);
}


.swiper-body {
    position: relative;
    height: 100%;
}

.swiper-body {
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}